@font-face {
  src: url(fonts/DS-DIGI.TTF);
  font-family: digital;
}
.main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display:flex;
  padding-top: 20px;
  flex-direction: column;
}

.acabou {
  color: white;
  padding: 10px 25px 10px 35px;
  align-self: center;
}
.acabouImg {
  margin-top: 10px;
  padding-left: 190px;
}

.clock{
  width: 220px;
  height: auto;
  flex-direction: column;
  display:flex;
  animation: mymove 5s infinite;
  overflow: hidden;
  background-image: radial-gradient(circle, black, green);
  margin-left: 40%;
}
.clockInput > input {
  height: 100px;
  width:  100px;
  text-align: center;
  font-size: 50px;
  font-family: digital ;
  background-image: radial-gradient(circle, black, green);
  border:0;
  color: white;
}
.clockButtons {
  justify-content: space-around;
  background-color:beige;
  display: flex;
  overflow: hidden;
  background-color: black;
  padding: 5px;
}
.clockButtons > button:hover {
  background-color: rgb(60, 87, 50);
  
}
.startBtn {
    background-image: url('images/play.svg');
    background-size: cover;
    height: 30px;  
    width: 30px;
    border:0;
    background-color: black;
}

.clearBtn {
    background-image: url('images/clear.svg');
    background-size: cover;
    height: 30px;  
    width: 30px;
    background-color: black;
    border:0;
}

.stopBtn {
    background-image: url('images/pause.svg');
    background-size: cover;
    height: 30px;  
    width: 30px;
    background-color: black;
    border:0;
}


@keyframes mymove {
  from {
    border: 2px solid white;
    border-radius: 25px;

  }
  to {
    border: 2px solid rgb(48, 43, 43);
    border-radius:25px;
  }
}

.video-responsive {
  overflow: hidden;
  align-self: center;
  padding:10px;
}




